@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600');
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #212529;
}

#fas{
	font-size:50px;
}

.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}
.header-area.sticky .navbar-default{
	background-color: #fff;
}

#botonuno{
	background-color:transparent;
	border-color:whitesmoke;
}



.sub{
	color:grey;
}
.backy{

}
#sec-primera h1 {
	font-weight:400px;
	font-size:60px;
	font-color: #ffffff;
}
#sec-primera{
padding:40px 0;
background-image: url(../img/header-bg.jpg);
background-size:cover;
	background-position:center;
	background-repeat:repeat-y;
}
#sec-primera p{
	font-size:20px;
	font-color:#ffffff;
}
#sec-primera h1::after {
	content:"";
	width:80px;
	height:3px;
	background-color: #6600ff;
	display:block;
	border-radius: 0px 0px 4px 4px;
}
#parttwo{
	font-size:60px;
	}
#parttwo h2::after {
	content:"";
	width:85px;
	height:10px;
	background-color: #00d3f3;
	display:block;
	border-radius: 0px 0px 4px 4px;
	margin:0 auto;
}
.below{
	font-size:20px;
}

.titulo::after {
	content:"";
	width:80px;
	height:3px;
	background-color:  #6600ff;
	display:block;
	border-radius: 0px 0px 4px 4px;
	margin:0 auto;
}

.tabla{
    background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}


#table td, #table th {
	padding:20px;
	
}
#table th {
	font-size:18px;
}

#table  th:nth-child(2), #table  th:nth-child(3), #table  td:nth-child(2), #table  td:nth-child(2){
	text-align: center;
}

#table{
	border-collapse:separate;
	border-color: #fff;
}
#table th:first-child {
	border-radius: 15px 0 0;
	background-color:#fff;
	border:1px solid #ddd;
	}
#table th:last-child {
	border-radius:0px 15px 0px 0px;
	background-color:#fff;
	border:1px solid #ddd;
}
#table tr:last-child td:first-child{
	border-radius:0px 0px 0px 15px;
	background-color:#fff;
	border:1px solid #ddd;
}
#table tr:last-child td:last-child{
	border-radius:0px 0px 0px 0px;
	
	border:1px solid #ddd;
}
#table tr:last-child td:last-child{
	border-radius:0px 0px 15px 0px;
		border:1px solid #ddd;
}
#table th:nth-child(2) {
	border:1px solid #ddd;
}


#table th:nth-child(3), #table td:nth-child(3){
	background-color: #b1b1b1;
	text-align: center;
	
}

#table th:nth-child(2), #table td:nth-child(2){
	background-color:#efe8eb;
}

#sec-counter i {
	font-size:90px;
	text-align:center;
	color:#ABB1BD;
}

#sec-counter h4 {
	font-size:40px;
	text-align:center;
	color:#ABB1BD;
}

#sec-form h3{
	color:#848892;
	font-size:18px;
}

.sec-espacio{
	padding:60px 0;
}


#sec-form input{
	background-color:#fff;
	padding:20px 10px;
	border:0;
	border-top:0;
	box-shadow:1px 1px 4px 5px #eee;
	
}

.btn-ultima{
	padding:15px;
	text-align:center;
	border-radius:80px;
	border:0;
	text-transform:uppercase;
	font-weight:600px;
}
.btn-ultima:hover{
}
/*Medidas xs*/
@media (max-width:480px){
	#sec-primera .backy img{
		max-width:300px;
	}
	#sec-primera h1{
		font-size:40px;
	}
	#sec-primera article:nth-child(2){
		margin-top:30px;
		
	}
}
/*Medidas para xs tablet*/
@media (min-width:480px) and (max-width:768px){
	
}
/*medidas para md hasta xl pc*/
@media (min-width:768px) {
	
}